body{
    margin-left: 25px;
  
}

.box{
    background-color: rgb(145, 5, 5);
    width:100%;
    display: flex;
    margin-right: 100px;
    
}
.sub1{
    width:50%;
    padding-left: 100px;
    margin-top: 250px;
   
}


.sub1 h1{
    font-size: 65px;
    font-family: Arial Black;
    color: white;
    line-height: 20px;    
}
 

.sub1 p{
    width:400px;
    font-family: calibri;
}

.sub1 h2{
    
    font-size: 22px;
    font-family: Arial Black;
    width:400px;

}
.o1{
    /* height:16px;
    width:20px; */
    margin-left: 400px;
}
.o11{
     margin-left: 370px;
}

 .o2{
    margin:0 10px;
    height:16px;
    width:16px;
    appearance: none;
    border: 1px solid white;
 }

.o2:checked::after {
    content: '✓';
    color: white;
    font-size: 4vh;
    text-align: center;
    line-height: 2px;
}
 .o3{
    margin-left: 120px;
 }
  .o4{
    margin-left: 84px;
 }
  .o5{
    margin-left: 60px;
 }
  .o6{
    margin-left: 60px;
 }
  .o7{
    margin-left: 65px;
 }
.img-1{

        height:120px;
        margin-top: 15px;
        margin-bottom: 15px;
} 
.sub2{
    display:flex;
    flex-direction: column;
    width:50%;
    margin-top: 60px;
     
}
.img-2{
    display: flex;
    width:100px;
    margin-left: 500px;
    filter: brightness(10);
}
.chec{
    display: flex;
    align-items: center;
}
.one{
    width: 450px;
    height: 60px;
    background: none;
    border: 2px solid white; 
    margin:10px;  
    

}
input::placeholder{
    color: white;
    padding-left: 10px;
}

textarea::placeholder{
    margin-left: 100px;
    color: white;
    font-family: Arial;
    padding-left: 10px;
    padding-top: 10px;

    
}
.sub2 h1{
    font-family: Arial black;
    font-size: 28px;
    margin:10px;
    line-height: 20px;

}

.sub2 p{
    color:white;
    font-family: Arial;
    font-size: 12px;
    margin:10px;
}
label{
    color:white;
    font-family: Arial;
}


.two{
     width:430px;
     height: 60px;
     margin-left: 10px;
     margin-top: 30px;
     font-size: 35px;
}





